/* --------------------- Fonts --------------------- */
@font-face {
    font-family: "GelPenUpright";
    src: url('../fonts/GelPenUprightLight.ttf');
}

/* --------------------- Global --------------------- */
html,body {
    height: 100%;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'GelPenUpright';
    margin: 0;
}

.valign{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}
a, a:hover{
  text-decoration: none;
  color: black;
}

button{
  margin: 10px
}

/* --------------------- Card wrap --------------------- */

.style1 {
  background: rgb(212, 212, 212);
  color: rgb(150, 9, 9);
  position: absolute;
  height: 250px;
  margin-bottom: 50px;
  margin-top: 50px;
  padding: 50px;
  box-shadow: 5px 5px 10px black;
}

.style2{
    background: rgb(123, 155, 187);
    color: rgb(146, 18, 153);
    height: 250px;
    margin-bottom: 50px;
    margin-top: 50px;
    padding: 50px;
    box-shadow: 5px 5px 10px black;
    position: absolute;

}

.style3{
    background: rgb(88, 62, 54);
    color: rgba(244, 219, 1, 0.81);
    height: 250px;
    margin-bottom: 50px;
    margin-top: 50px;
    padding: 50px;
    box-shadow: 5px 5px 10px black;
    position: absolute;

}

.recto-card{
    text-align: center;
}

.recto-card:hover{
    text-align: center;
    opacity: 0
}

.verso-card{
  opacity: 0
}

.verso-card:hover{
  opacity: 1
}

/* --------------------- Social Network --------------------- */
.social-network{
    list-style-type: none;
    text-align: center;
}

.social-network li{
    float: left;
    margin: 10px;
}
